* {
  margin: 0;
  padding: 0;
  outline: 0;
}

 body{
  font-family: "Orbitron";
 }


:root {
  --black: #000000;
  --white: #ffffff;
}

body {
  height: 100vh;
}

nav {
  margin: 3% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list{
  flex-grow: 2;
  display: flex;
  gap:3rem;
  font-size: 1.2rem;
}
nav li {
  display: inline-block;
}
.nav-button{
  font-family: "Poppins";
  border:black 2px solid;
  border-radius: 8px;
  font-size: .9rem;
  padding: .3rem 1rem;
  background: transparent;
  cursor: pointer;
  margin-bottom: 3%;
  width: 15ch;
  margin-left: 2%;

}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hero-container{
  position: relative;
  margin: 3% 5%;
}

.hero-container-right{
  transform: translate(44vw);
  letter-spacing: .2rem;
  width: 55ch;
  text-align: center;
}

[alt="person-hero-image"]{
  width: 25vw;
  position: absolute;
}

[src="/assets/squares.png"]{
  width: 20vw;
  position: absolute;
  transform:translate(44%,85%);
}

[alt="start-pattern"]{
  position: absolute;
  right: 0;
}


[src="/assets/globe.png" ]{
  width: 60px;
  transform:translateX(40vw);
}

.hero-heading{
  padding-top: 5rem;
  font-size: 3rem;
}

.hero-description{
  font-size: .6rem;
  padding: 2rem;
  font-family: 'Poppins';
  color: #bfbfbf;
}

.button-email{
  font-family: "Orbitron";
  border:black 2px solid;
  border-radius: 6px;
  font-size: .8rem;
  padding: .3rem 1rem;
  background: transparent;
  cursor: pointer;
  margin-bottom: 3%;
}

.button-join{
  font-family: "Orbitron";
  border:black 2px solid;
  color: white;
  border-radius: 6px;
  font-size: .9rem;
  padding: .3rem 1rem;
  background: black;
  cursor: pointer;
  margin-top: 10%;
  margin-bottom: 10%;
}

.contact-heading{
  font-family: 'Poppins';
  padding-top: 4rem;
  color:hsl(0, 0%, 31%);
}

.icons{
  padding: 1rem;
}