* {
  margin: 0;
  padding: 0;
  outline: 0;
}

 body{
  font-family: Poppins;
 }


:root {
  --black: #000000;
  --white: #ffffff;
}

body {
  height: 100vh;
}

nav {
  margin: 3% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline-block;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hero-container{
  position: relative;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.globe{
  position: absolute;
  right:40%;
}

.star{
  position: absolute;
  right:10%;
  top: 8%;
}

.square{
  position: absolute;
  left: 19%;

}

[alt="square-pattern"]{
  width: 20vw;

}

.globe + div{
  position: absolute;
  top: 10%;
  z-index: 9;
}

.globe + div > img{
  width: 26vw;
}

.hero-container-right{
  position: absolute;
  top:25%;
  right:0;
  width: 50vw;
  height:35vw;
  text-align: center;
}