/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Reset browser defaults */
/* This is taken from Andy Bell css reset
https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
The video I got this reset info
https://youtu.be/h3bTwCqX4ns?t=821
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* A video explaining why box-sizing should be set to border-box */
/* https://www.youtube.com/watch?v=WlGQdgy-M6w */

/* Remove default margin */
*{
  margin: 0;
  padding : 0;
  font: inherit;  
  }
  
/* The font inherit property sets every font to have one size and one weight
any heading tag would look the sane as a normal text, this forces the user to
use css for everything.
*/

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(240, 17%, 98%);
}

/* finished resetting everything */


* {
  font-family: "Poppins", sans-serif;
}


/* Saving colors */
:root{
  --header-bg-color:hsl(252, 99%, 54%);
  --header-font-color:hsl(0, 0%, 100%);
  --default-margin:3%;
  --test-border: 10px solid red;
  --h2-font-size: 2.5rem;
  --h3-font-size: 1.2rem;
  --h3-font-weight: 600;
  --header-p-font-color : hsl(252, 100%, 88%);
  --card-font-color:hsl(0, 0%, 66%);
  --active-elements-color:hsl(252, 97%, 59%);
  --card-top-bottom-margin:1%;
  --card-width:20vw;
}

/*  */

header{
  padding-top: 2%;
  position: relative;
  background: var(--header-bg-color);
  color: var(--header-font-color);

}

nav{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 1em;
  margin-left: var(--default-margin);
  margin-right: var(--default-margin);
}

nav a:hover,svg:hover{
  cursor: pointer;
}

.nav-item-active{
  background-color: var(--header-font-color);
  color:var(--header-bg-color);
  border-radius: 3px;
  padding:.1em .5em;
}

.nav-item-active+svg{
  width: 1.2em;
  height: 1.5em;
}

.logo{
  margin-left: var(--default-margin);
}

.header-text{
  margin-left: var(--default-margin);
}



.header-text+div{
  position: absolute;
  right: 0;
  top:90px;
  margin-left: auto ;
}

.header-text:after {
  content:"";
  position:absolute;
  width:100%;
  bottom:1px;
  z-index:-1;
  transform:scale(.9);
  box-shadow: 0px 0px 8px 2px #000000;
}

.header-text+div > img{
  width: 35vw;

}

.header-text{
  margin-top: 3%;
  height: 45vh;
}

.header-text h2{
  font-size: var(--h2-font-size);
}

.header-text p{
  margin-top: 5px;
  color:var(--header-p-font-color);
}
/* header ends here */

.companies{
  display: flex;
  margin-left: var(--default-margin);
  padding: 2%;
  gap: 2em;
  width: 50vw;
  justify-content: space-between;
}

.companies a{
  font-family: Righteous;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
}

.api h1{
  margin-left: var(--default-margin);
  font-size: 2rem;
  font-weight: 900;
  font-style: bold;
}

.cards{
  display: flex;
  gap:2em;
  width: 90vw;
  margin-top: var(--card-top-bottom-margin);
  margin-bottom: var(--card-top-bottom-margin);
  margin-left: var(--default-margin);
}


.cards > [class*="card"]{
  width: var(--card-width);
  padding: 2em;
}

.card-active{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-active h3{
  color: var(--active-elements-color);
}



.cards > [class*="card"] h3{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
} 

.cards::after{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z'/%3E%3C/svg%3E");
  color: white;
  width: 100px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--active-elements-color);
  transform: translateY(150px);
}

.blog-heading{
  margin-left: var(--default-margin);
}

.blog-cards{
  margin-left: var(--default-margin);
  display: flex;
  gap:2em;
  justify-content: space-around;
}

.blog-card{
  display: flex;
}

.blog-card div:nth-child(2){
  background-color: hsl(0, 0%, 100%);
  padding-left: 1em ;
}

