/* This is taken from Andy Bell css reset
https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
The video I got this reset info
https://youtu.be/h3bTwCqX4ns?t=821
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* A video explaining why box-sizing should be set to border-box */
/* https://www.youtube.com/watch?v=WlGQdgy-M6w */

/* Remove default margin */
*{
  margin: 0;
  padding : 0;
  font: inherit;  
  }
  
/* The font inherit property sets every font to have one size and one weight
any heading tag would look the sane as a normal text, this forces the user to
use css for everything.
*/

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

/* Reset ends here */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root{
    --bg-color:#07253b;
    --default-margin:5%;
}

body{
    background-color: var(--bg-color);
    color: white;


}

nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin: 3% var(--default-margin);
}

.nav-buttons{
    flex-grow: 2;
    display: flex;
    justify-content:end ;
}

nav ul{
    display: flex;
    flex-direction: row;
}

li{
    display: block;
}

.contact-info{
    display: flex;
}