* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Allerta;
  background-color: #f4f3f8ff;
  height: 100%;
}
nav {
  margin: 3% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navMid {
  display: flex;
  justify-content: space-between;
}

#navEnd {
  display: flex;
  justify-content: space-between;
}

#midWhole {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

#midWholePart1 {
  align-self: flex-end;
  width: 50vw;
  margin-bottom: 5%;
  margin-left: 5%;
}

#midWhole > div:nth-child(2) {
  align-self: flex-end;
  text-align: right;
}

#monstera {
  font-size: 7em;
  font-weight: 900;
}

#midWholePart13 {
  display: flex;
  font-size: 0.7em;
  gap: 1em;
  margin-top: 5%;
  margin-bottom: 5%;
}

#midWholePart13 img {
  width: 50px;
  height: 50px;
}

.midWholePart13Parts {
  display: flex;
}
.midWholePart13Parts {
  align-items: stretch;
}

.midWholePart13Parts h4{
  font-size: 2em;
}

#imgMain {
  display: block;
  width: 75%;
  max-width: 100%;
  
  /* flex: 1; */
}

#midWholePart121 {
  position: relative;
}

#midWholePart121 img{
  display: none;
  /* position: absolute;
  bottom: 40%;
  left: 18%; */
}

#midWholePart121 > div > h1 {
  font-family: Abel;
  background-color: #466d50ff;
  color: white;
  display: inline-block;
  font-weight: 400;
  font-size: 2em;
  padding: 10px 20px;
  padding-right: 40px;
  border-radius: 80vw;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  cursor: pointer;
}


#midWholePart121 > div > h1::after{
  content:url("./photos/greaterThan.svg");
  width: .9em;
  right: 0;
  position: absolute;
  
}

#midWholePart11 li::marker {
  color: black;
}

#midWholePart11 li:nth-child(n + 2) {
  color: #6b6a6cff;
}


#navMid {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6em;
}

#navMid h4 {
  cursor: pointer;
  padding-bottom: 0.5em;
}

#navMid h4:hover {
  border-bottom: 2px black solid;
}

#navEnd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

#navEnd img:hover {
  cursor: pointer;
  border: 2px solid black;
  padding: 3px;
  border-radius: 8px;
}
