/* This is taken from Andy Bell css reset
https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
The video I got this reset info
https://youtu.be/h3bTwCqX4ns?t=821
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* A video explaining why box-sizing should be set to border-box */
/* https://www.youtube.com/watch?v=WlGQdgy-M6w */

/* Remove default margin */
*{
  margin: 0;
  padding : 0;
  font: inherit;  
  }
  
/* The font inherit property sets every font to have one size and one weight
any heading tag would look the sane as a normal text, this forces the user to
use css for everything.
*/

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* finished reseting everything */

/* Adding colors */
:root{
    --nav-font-color : hsl(245, 29%, 47%);
    --main-heading-color : hsl(234, 41%, 41%);
    --button-color : hsl(0, 0%, 100%);
    --main-font-color : hsl(233, 13%, 60%);
    --main-buttton-font-size : 1.5rem;
}


body{
    font-family: Roboto;
	background-image: url("data:image/svg+xml,%3Csvg width='913' height='913' viewBox='0 0 913 913' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M913 799.738L485.905 905.532C379.782 931.818 269.628 878.241 237.59 773.682L0.546143 0H913V799.738Z' fill='url(%23paint0_linear_2_1477)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2_1477' x1='369.708' y1='567.509' x2='706.848' y2='-81.3061' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23965CF2'/%3E%3Cstop offset='1' stop-color='%23FF8ADC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top right;
}


[alt="logo"]{
    width: 130px;
    height: 40px;
}


nav{
   display: flex; 
   margin: 3% 7% 3% 7%;
   justify-content: space-between;
   align-content: center;
}

.nav-items{
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap:3em;
    color: var(--nav-font-color);
    font-weight: 600;
}

.nav-item{
    align-self: center;
}

.nav-items > h5 {
    cursor: pointer;
}


/* Nav ends here */

.intro-section{
    display: flex; 
    flex: 1 2; 
    margin-left: 7%;
}

.left-section{
    width: 25vw;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.left-section > *{
    align-self: start;
}

.left-section h4{
    color: var(--main-font-color);
}


.left-section > h1{
    font-size: 4rem;
    font-weight: 900;
    color: var(--main-heading-color)
}


/* button config */
button{
    background: linear-gradient(to right,#965CF2,#FF8ADC);
    border: none;
    color: var(--button-color);
    cursor: pointer;
}
/* main button */
.left-section > button{
    font-size: var(--main-buttton-font-size);
    padding: .3em 1em;
    border-radius: 8px;
}

nav button{
    border-radius: 16px;
    height: fit-content;
    padding: .3em .7em;
}

@media screen and (max-width:800px){
    .nav-item{
        display: none;
    }

    .signin-btn{
        width: 150px;
    }

    .left-section{
        width: 70vw;
    }
    
    .left-section h4{
        width: 25ch;
    }
    
}
